<p>event-edit works!</p>
<app-navbar></app-navbar>
<div class="container">
    <div class="row ml-5">
        <mat-card class="col">List of Events</mat-card>
    </div>
    <div class="row ml-5">
            <mat-card *ngFor="let event of events" >
            
                    <mat-form-field>
                            <input matInput placeholder="Event Name" [(ngModel)]="event.name" name="name">
                    </mat-form-field>
                    <br>

                    <mat-form-field>
                                <input matInput placeholder="Event Description" [(ngModel)]="event.description" name="name">
                    </mat-form-field>
                    <img mat-card-lg-image src="https://petapixel.com/assets/uploads/2014/03/photog1.jpg"><br>
                    <button mat-raised-button color="primary">Edit</button>&nbsp;
                    <button mat-raised-button color="warn">Delete</button>
    
            </mat-card>
            

    </div>
       

    
</div>

