
  <div class="sidenav">
    <a href="#about">About</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/events">Events</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div>