<p>services works!</p>
<app-navbar></app-navbar>
<div class="container">
    <div class="row ml-5">
        <mat-card class="col example-container">
            <mat-card-title>Enter Event Information</mat-card-title>
            <mat-form-field>
                <input matInput placeholder="Event Name">
              </mat-form-field>
              <p>Choose an icon :</p>
                <input type="file"  >
              

              <button mat-raised-button color ="primary"  class="col-2 mt-4 ">Submit</button>

        </mat-card>
    </div>
</div>
