<p>services works!</p>
<app-navbar></app-navbar>
<div class="container">
    <div class="row ml-5">
        <mat-card class="col example-container">
            <mat-card-title>Enter Event Information</mat-card-title>
            <mat-form-field>
                <input matInput placeholder="Event Name" [(ngModel)]="name" name="name">
              </mat-form-field>
              <mat-form-field>
                <input  matInput placeholder="Description" [(ngModel)]="desc" name="desc">
              </mat-form-field>
              <p>Choose an icon :</p>
                <input type="file"  style="display: none" (change)="onFileChanged($event)" #fileInput >
              
              <button mat-raised-button color ="warn" (click)="fileInput.click()" >Select File</button>
              <button mat-raised-button color ="primary"  (click)="uploadData()"  class="col-2 mt-4 ">Submit</button>

        </mat-card>
    </div>
</div>
