<p>dashboard works!</p>
<app-navbar></app-navbar>
<div class=container>
    <div class="row ml-5">
        <mat-card class="col">
            <img class="rounded mx-auto d-block" src="../../assets/images/pieChart.png"/>
        </mat-card>
        <mat-card class="col">Chart 2</mat-card>
        <mat-card class="col">Chart 2</mat-card>
    </div>
</div>
<!-- <mat-card class="d-flex justify-content-center">
<mat-card-title >Chart</mat-card-title>
</mat-card> -->