/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/vendor/bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css';

body{
    background:whitesmoke}
mat-card{
    
    margin-left: 1.2em;
    margin: 30px;
}
mat-form-field{
    margin-top: 20px;
    
}